<div class="auth">
  <mat-card class="auth__panel">
    <h3>Authentication</h3>
    <form class="auth__form">

      <div class="login-block">
          <!-- <img src="/assets/svg/king.svg" class="input__icon"> -->
        <svg-icon src="/assets/svg/king.svg" [svgStyle]="{ 'width.px':30 }"></svg-icon>
        <mat-form-field class="input__field">
          <input matInput placeholder="Enter your login" #login>
        </mat-form-field>
      </div>

      <div class="password-block">
          <!-- <img src="/assets/svg/lock-1.svg" class="input__icon"> -->
        <svg-icon src="/assets/svg/lock-1.svg" [svgStyle]="{ 'width.px':30 }"></svg-icon>
        <mat-form-field class="input__field">  
          <input matInput placeholder="Enter your password" #password >
        </mat-form-field>
      </div>

      <div class="button__row">
        <button mat-raised-button color="primary" (click)="submitForm(login,password)">Submit</button>
      </div>
    </form>
  </mat-card>
</div>